doctype html
html
  head
    title WMTBG
    link(rel='stylesheet', href='/stylesheets/videoStyle.css')
    link(rel='stylesheet', href='/stylesheets/blogStyle.css')
  body#gridContainer
    block content
